In [11]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [45]:
df_homicide = pd.read_csv('Homicide.csv')
df_MCI = pd.read_csv('MCI_2014_to_2019.csv')

In [46]:
df_homicide.head()

              X             Y  Index_ event_unique_id  occurrence_year Division homicide_type         occurrence_date  Hood_ID                             Neighbourhood        Lat       Long  ObjectId
0 -8.837972e+06  5.416828e+06       1          111878             2004      D53         Other  2004/01/03 05:00:00+00       98                  Rosedale-Moore Park (98)  43.685028 -79.392853         1
1 -8.820396e+06  5.431696e+06       2          125755             2004      D42      Shooting  2004/01/08 05:00:00+00      137                              Woburn (137)  43.781536 -79.234962         2
2 -8.817271e+06  5.436219e+06       3          136086             2004      D42      Shooting  2004/01/08 05:00:00+00      132                             Malvern (132)  43.810860 -79.206894         3
3 -8.842597e+06  5.414588e+06       4          148623             2004      D13      Shooting  2004/01/25 05:00:00+00       93  Dovercourt-Wallace Emerson-Junction (93)  43.670475 -79.434403         4
4 -8.816934e+06  5.438176e+06       5          148619             2004      D42      Shooting  2004/01/25 05:00:00+00      131                               Rouge (131)  43.823543 -79.203865         5

In [47]:
df_MCI.head()

              X             Y  Index_ event_unique_id          occurrencedate            reporteddate premisetype  ucr_code  ucr_ext              offence  reportedyear reportedmonth  reportedday  reporteddayofyear reporteddayofweek  reportedhour  occurrenceyear occurrencemonth  occurrenceday  occurrencedayofyear occurrencedayofweek  occurrencehour              MCI Division  Hood_ID          Neighbourhood        Lat    Long  ObjectId
0 -8.840549e+06  5.431712e+06     201  GO-20141301077  2014/01/07 05:00:00+00  2014/01/07 05:00:00+00       Other      1420      100  Assault With Weapon          2014       January            7                  7        Tuesday               22          2014.0         January            7.0                  7.0          Tuesday                 22          Assault      D32       36  Newtonbrook West (36)  43.781639 -79.416         1
1 -8.840549e+06  5.431712e+06     202  GO-20141301077  2014/01/07 05:00:00+00  2014/01/07 05:00:00+00       Other      1420      100  Assault With Weapon          2014       January            7                  7        Tuesday               22          2014.0         January            7.0                  7.0          Tuesday                 22          Assault      D32       36  Newtonbrook West (36)  43.781639 -79.416         2
2 -8.840549e+06  5.431712e+06     203  GO-20141301077  2014/01/07 05:00:00+00  2014/01/07 05:00:00+00       Other      1420      100  Assault With Weapon          2014       January            7                  7        Tuesday               22          2014.0         January            7.0                  7.0          Tuesday                 22          Assault      D32       36  Newtonbrook West (36)  43.781639 -79.416         3
3 -8.840549e+06  5.431712e+06     204  GO-20141301077  2014/01/07 05:00:00+00  2014/01/07 05:00:00+00       Other      1420      100  Assault With Weapon          2014       January            7                  7        Tuesday               22          2014.0         January            7.0                  7.0          Tuesday                 22          Assault      D32       36  Newtonbrook West (36)  43.781639 -79.416         4
4 -8.839881e+06  5.413806e+06     205  GO-20141300854  2014/01/07 05:00:00+00  2014/01/07 05:00:00+00  Commercial      2120      200                  B&E          2014       January            7                  7        Tuesday               21          2014.0         January            7.0                  7.0          Tuesday                 21  Break and Enter      D14       79        University (79)  43.665390 -79.410         5

In [17]:
df_MCI['occurrencedate'] = pd.to_datetime(df_MCI.occurrencedate)

In [23]:
df_MCI['occurrencedate_M'] = df_MCI.occurrencedate.dt.month

In [41]:
df_MCI_hotspots=df_MCI.groupby(['occurrencedate_M','occurrenceday','Division','Hood_ID','Neighbourhood'])['event_unique_id'].count().reset_index()

In [42]:
df_MCI_hotspots['event_unique_id'].describe(percentiles=[.1, .2, .3,.4,.5,.6,.7,.8,.9,.99])

count    52406.000000
mean         3.938022
std          3.593925
min          1.000000
10%          1.000000
20%          1.000000
30%          2.000000
40%          2.000000
50%          3.000000
60%          4.000000
70%          4.000000
80%          6.000000
90%          8.000000
99%         18.000000
max         46.000000
Name: event_unique_id, dtype: float64

In [43]:
df_MCI_hotspots[df_MCI_hotspots['event_unique_id'] > 6].count()

occurrencedate_M    8360
occurrenceday       8360
Division            8360
Hood_ID             8360
Neighbourhood       8360
event_unique_id     8360
dtype: int64